@import url('https://fonts.googleapis.com/css2?family=Georama:wght@300;400;500&family=Montserrat:wght@300;400;500&display=swap');

/* Selection */
::-moz-selection { 
    color: #353535;
    background: #e9b2b2; 
}
::selection { 
    color: #353535;
    background: #e9b2b2; 
}

/* Fonts */
.font-georama {
    font-family: 'Georama', sans-serif;
}

.font-montserrat {
    font-family: 'Montserrat', sans-serif;
}

/* Z-index */
.zi-5 {
    z-index: 5;
}

.zi-10 {
    z-index: 10;
}

.zi-15 {
    z-index: 15;
}

/* Center */
.center-y {
    top: 50%;
    transform: translateY(-50%);
}

.center-xy {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Transitions */
.tr-300 {
    transition: all 0.3s ease-out;
}

.tr-600 {
    transition: all 0.6s ease-out;
}

.tr-900 {
    transition: all 0.9s ease-out;
}

/* Height */
.max-h50 {
    max-height: 50px;
}
