/*:::::::::::::::::::::::::
::::::    HEADER     ::::::  
:::::::::::::::::::::::::::*/

.header {
    height: 5.5rem;
}

.nav-item {
    margin: 0.5rem 1rem;
}

.nav-link {
    transform: translateY(0);
    transition: all 0.35s cubic-bezier(0.78, 1, 0.22, 1);
}

.nav-link:hover {
    transform: translateY(-0.2rem) !important;
}